.ps {
  display: grid;
  gap: 20px;
  padding: 16px;
  margin-bottom: 64px;

  border: 2px dashed var(--color5);
  border-radius: 8px;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
}

.link {
  margin-left: 8px;
  color: var(--color1);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: var(--color2);
}
