.wrapper {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 24px;
  width: 100%;
  text-align: center;
}
