.Description h1 {
    margin-bottom: 4px;
}

.Description h3 {
    margin-bottom: 40px;
    font-size: 1.5rem;
    font-weight: 400;
    opacity: .75;
}

.Description h5 {
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--white);
}

.Description ul {
    display: flex;
    gap: 16px;
    list-style: none;
    font-size: 1.2rem;
}

.Description li {
    padding: 8px 20px;
    border-radius: 8px;
    background-color: var(--orange-200);
    color: var(--orange-600);
    font-weight: 600;
}
