.ResultInfo {
    min-height: 320px;
    padding: 20px;
    border-radius: 8px;
    border: 1px dashed var(--white);
}

.ResultInfo.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
