.icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.icon div {
  animation: loader-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.icon div::after {
  content: '';

  position: absolute;

  display: block;
  width: 7px;
  height: 7px;
  margin: -4px 0 0 -4px;

  border-radius: 50%;
  background-color: var(--color2);
}

.icon div:nth-child(1) {
  animation-delay: -0.036s;
}

.icon div:nth-child(1)::after {
  top: 63px;
  left: 63px;
}

.icon div:nth-child(2) {
  animation-delay: -0.072s;
}

.icon div:nth-child(2)::after {
  top: 68px;
  left: 56px;
}

.icon div:nth-child(3) {
  animation-delay: -0.108s;
}

.icon div:nth-child(3)::after {
  top: 71px;
  left: 48px;
}

.icon div:nth-child(4) {
  animation-delay: -0.144s;
}

.icon div:nth-child(4)::after {
  top: 72px;
  left: 40px;
}

.icon div:nth-child(5) {
  animation-delay: -0.18s;
}

.icon div:nth-child(5)::after {
  top: 71px;
  left: 32px;
}

.icon div:nth-child(6) {
  animation-delay: -0.216s;
}

.icon div:nth-child(6)::after {
  top: 68px;
  left: 24px;
}

.icon div:nth-child(7) {
  animation-delay: -0.252s;
}

.icon div:nth-child(7)::after {
  top: 63px;
  left: 17px;
}

.icon div:nth-child(8) {
  animation-delay: -0.288s;
}

.icon div:nth-child(8)::after {
  top: 56px;
  left: 12px;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
